.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    /* margin: 0 auto; */
    width: 300px;
    /* height: 440px; */
    height: 100%;
    /* background: transparent; */
    background-color: white;
    border: 2px solid rgba(225, 255, 255, 0.5);
    border-radius: 0px;
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transform: scale(0);
    transform: translateX(300px);
    transition: transform 0.5s ease, height 0.2s ease;
    z-index: 1000;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    /* height: 520px; */
    height: 100%;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 3vh;
    /* right: 0; */
    left: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    /* background: #162938; */
    font-size: 2em;
    color: #162938;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius: 20px; */
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box h2 {
    font-size: 2em;
    /* color: #fff; */
    color: #162938;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* border-bottom: 2px solid #fff; */
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.wrapper .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    /* color: #fff; */
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.wrapper .input-box input:focus ~ label,
.wrapper .input-box input:valid ~ label {
    top: -5px;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    /* color: #fff; */
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    /* color: #fff; */
    line-height: 57px;
}

.wrapper .remember-forgot {
    font-size: 1em;
    /* color: #fff; */
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.wrapper .remember-forgot label input {
    /* accent-color: #fff; */
    accent-color: #162938;
    margin-right: 3px;
}

.wrapper .remember-forgot a {
    /* color: #fff; */
    color: #162938;
    text-decoration: none;
    text-align: right;
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    /* background: #fff; */
    background: #ffa500;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    /* color: #162938; */
    color: #fff;
    font-weight: 500;
}

.wrapper .login-register {
    font-size: 1em;
    /* color: #fff; */
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.wrapper .login-register p a {
    /* color: #fff; */
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .login-register p a:hover {
    text-decoration: underline;
}
