.form-control {
  min-height: auto;
  padding-top: 4px;
  padding-bottom: 3.28px;
  transition: all 0.1s linear;
}
.form-control:focus {
  box-shadow: none;
  transition: all 0.1s linear;
  border-color: #3b71ca;
  box-shadow: inset 0 0 0 1px #3b71ca;
}
.form-control.form-control-sm {
  font-size: 0.775rem;
  line-height: 1.5;
}
.form-control.form-control-lg {
  line-height: 2.15;
  border-radius: 0.25rem;
}
.form-outline {
  position: relative;
}
.form-outline .form-helper {
  width: 100%;
  position: absolute;
  font-size: 0.875em;
  color: #757575;
}
.form-outline .form-helper .form-counter {
  text-align: right;
}
.form-outline .trailing {
  position: absolute;
  right: 10px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.form-outline .form-icon-trailing {
  padding-right: 2rem !important;
}
.form-outline .form-control {
  min-height: auto;
  padding: 0.33em 0.75em;
  border: 0;
  background: transparent;
  transition: all 0.2s linear;
}
.form-outline .form-control ~ .form-label {
  position: absolute;
  top: 0;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0.75rem;
  padding-top: 0.37rem;
  pointer-events: none;
  transform-origin: 0 0;
  transition: all 0.2s ease-out;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
}
.form-outline .form-control ~ .form-notch {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
}
.form-outline .form-control ~ .form-notch div {
  pointer-events: none;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  background: transparent;
  transition: all 0.2s linear;
}
.form-outline .form-control ~ .form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  width: 0.5rem;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
.form-outline .form-control ~ .form-notch .form-notch-middle {
  flex: 0 0 auto;
  width: auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
}
.form-outline .form-control ~ .form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
}
.form-outline .form-control:not(.placeholder-active)::-moz-placeholder {
  opacity: 0;
}
.form-outline .form-control:not(.placeholder-active)::placeholder {
  opacity: 0;
}
.form-outline .form-control.active::-moz-placeholder,
.form-outline .form-control:focus::-moz-placeholder {
  opacity: 1;
}
.form-outline .form-control.active::placeholder,
.form-outline .form-control:focus::placeholder {
  opacity: 1;
}
.form-outline .form-control:focus {
  box-shadow: none !important;
}
.form-outline .form-control.active ~ .form-label,
.form-outline .form-control:focus ~ .form-label {
  transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
}
.form-outline .form-control:focus ~ .form-label {
  color: #3b71ca;
}
.form-outline .form-control.active ~ .form-notch .form-notch-middle,
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-right: none;
  border-left: none;
  border-top: 1px solid transparent;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: #3b71ca;
  box-shadow: 0 1px 0 0 #3b71ca;
  border-top: 1px solid transparent;
}
.form-outline .form-control.active ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-right: none;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: #3b71ca;
  box-shadow: -1px 0 0 0 #3b71ca, 0 1px 0 0 #3b71ca, 0 -1px 0 0 #3b71ca;
}
.form-outline .form-control.active ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-left: none;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: #3b71ca;
  box-shadow: 1px 0 0 0 #3b71ca, 0 -1px 0 0 #3b71ca, 0 1px 0 0 #3b71ca;
}
.form-outline .form-control.disabled,
.form-outline .form-control:disabled,
.form-outline .form-control[readonly] {
  background-color: #e9ecef;
}
.form-outline .form-control.form-control-lg {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.form-outline .form-control.form-control-lg ~ .form-label {
  padding-top: 0.7rem;
}
.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
  transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8);
}
.form-outline .form-control.form-control-sm {
  padding: 0.43em 0.99em 0.35em;
  font-size: 0.775rem;
  line-height: 1.6;
}
.form-outline .form-control.form-control-sm ~ .form-label {
  padding-top: 0.33rem;
  font-size: 0.775rem;
}
.form-outline .form-control.form-control-sm.active ~ .form-label,
.form-outline .form-control.form-control-sm:focus ~ .form-label {
  transform: translateY(-0.85rem) translateY(0.1rem) scale(0.8);
}
.form-outline.form-white .form-control {
  color: #fff;
}
.form-outline.form-white .form-control ~ .form-label {
  color: #fbfbfb;
}
.form-outline.form-white .form-control ~ .form-notch div {
  border-color: #fbfbfb;
}
.form-outline.form-white .form-control:focus ~ .form-label {
  color: #fff;
}
.form-outline.form-white .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: #fff;
  box-shadow: 0 1px 0 0 #fff;
  border-top: 1px solid transparent;
}
.form-outline.form-white .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: #fff;
  box-shadow: -1px 0 0 0 #fff, 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
}
.form-outline.form-white
  .form-control:focus
  ~ .form-notch
  .form-notch-trailing {
  border-color: #fff;
  box-shadow: 1px 0 0 0 #fff, 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
}
.form-outline.form-white .form-control::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}
.form-outline.form-white .form-control::placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}
.form-outline.form-white .form-control.disabled,
.form-outline.form-white .form-control:disabled,
.form-outline.form-white .form-control[readonly] {
  background-color: hsla(0, 0%, 100%, 0.45);
}
.select-input.form-control[readonly]:not([disabled]) {
  background-color: transparent;
}
.form-select {
  transition: all 0.2s linear;
}
.form-select:focus {
  border-color: #3b71ca;
  outline: 0;
  box-shadow: inset 0 0 0 1px #3b71ca;
}
.form-check {
  min-height: 1.5rem;
}
.form-check-input {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #fff;
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
}
.form-check-input:before {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 13px transparent;
  border-radius: 50%;
  width: 0.875rem;
  height: 0.875rem;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.form-check-input:hover {
  cursor: pointer;
}
.form-check-input:hover:before {
  opacity: 0.04;
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.6);
}
.form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
  transition: border-color 0.2s;
}
.form-check-input:focus:before {
  opacity: 0.12;
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.6);
  transform: scale(1);
  transition: box-shadow 0.2s, transform 0.2s;
}
.form-check-input:checked {
  border-color: #3b71ca;
}
.form-check-input:checked:before {
  opacity: 0.16;
}
.form-check-input:checked:after {
  content: "";
  position: absolute;
}
.form-check-input:checked:focus {
  border-color: #3b71ca;
}
.form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #3b71ca;
  transform: scale(1);
  transition: box-shadow 0.2s, transform 0.2s;
}
.form-check-input:indeterminate:focus:before {
  box-shadow: 0 0 0 13px #3b71ca;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25rem;
  margin-top: 0.19em;
  margin-right: 6px;
}
.form-check-input[type="checkbox"]:focus:after {
  content: "";
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  z-index: 1;
  display: block;
  border-radius: 0;
  background-color: #fff;
}
.form-check-input[type="checkbox"]:checked {
  background-image: none;
  background-color: #3b71ca;
}
.form-check-input[type="checkbox"]:checked:after {
  display: block;
  transform: rotate(45deg) /*!rtl:ignore*/;
  width: 0.375rem;
  height: 0.8125rem;
  border: 0.125rem solid #fff;
  border-top: 0;
  border-left: 0 /*!rtl:ignore*/;
  margin-left: 0.25rem;
  margin-top: -1px;
  background-color: transparent;
}
.form-check-input[type="checkbox"]:checked:focus {
  background-color: #3b71ca;
}
.form-check-input[type="checkbox"]:indeterminate {
  border-color: #3b71ca;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125em;
  margin-right: 4px;
}
.form-check-input[type="radio"]:before {
  width: 1rem;
  height: 1rem;
}
.form-check-input[type="radio"]:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  display: block;
  border-radius: 50%;
  background-color: #fff;
}
.form-check-input[type="radio"]:checked {
  background-image: none;
  background-color: #fff;
}
.form-check-input[type="radio"]:checked:after {
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  border-color: #3b71ca;
  background-color: #3b71ca;
  transition: border-color;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.form-check-input[type="radio"]:checked:focus {
  background-color: #fff;
}
.form-check-label {
  padding-left: 0.15rem;
}
.form-check-label:hover {
  cursor: pointer;
}
.form-switch .form-check-input {
  background-image: none;
  border-width: 0;
  border-radius: 0.4375rem;
  width: 2rem;
  height: 0.875rem;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 0.3em;
  margin-right: 8px;
}
.form-switch .form-check-input:after {
  content: "";
  position: absolute;
  border: none;
  z-index: 2;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  margin-top: -0.1875rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.04);
  transition: background-color 0.2s, transform 0.2s;
}
.form-switch .form-check-input:focus {
  background-image: none;
}
.form-switch .form-check-input:focus:before {
  box-shadow: 3px -1px 0 13px rgba(0, 0, 0, 0.6);
  transform: scale(1);
  transition: box-shadow 0.2s, transform 0.2s;
}
.form-switch .form-check-input:focus:after {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}
.form-switch .form-check-input:checked,
.form-switch .form-check-input:checked:focus {
  background-image: none;
}
.form-switch .form-check-input:checked:focus:before {
  margin-left: 1.0625rem;
  box-shadow: 3px -1px 0 13px #3b71ca;
  transform: scale(1);
  transition: box-shadow 0.2s, transform 0.2s;
}
.form-switch .form-check-input:checked[type="checkbox"] {
  background-image: none;
}
.form-switch .form-check-input:checked[type="checkbox"]:after {
  content: "";
  position: absolute;
  border: none;
  z-index: 2;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #3b71ca;
  margin-top: -3px;
  margin-left: 1.0625rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button,
.form-control[type="file"]::-webkit-file-upload-button {
  background-color: transparent;
}
.input-group > .form-control {
  min-height: calc(2.08rem + 2px);
  height: calc(2.08rem + 2px);
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
  transition: all 0.2s linear;
}
.input-group > .form-control:focus {
  transition: all 0.2s linear;
  border-color: #3b71ca;
  outline: 0;
  box-shadow: inset 0 0 0 1px #3b71ca;
}
.input-group-text {
  background-color: transparent;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
}
.input-group-text > .form-check-input[type="checkbox"] {
  margin-left: 1px;
  margin-right: 1px;
}
.input-group-text > .form-check-input[type="radio"] {
  margin-right: 0;
}
.input-group-lg > .form-control {
  height: calc(2.645rem + 2px);
  font-size: 1rem;
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
}
.input-group-lg .input-group-text {
  font-size: 1rem;
}
.input-group-sm > .form-control {
  min-height: calc(1.66rem + 2px);
  height: calc(1.66rem + 2px);
  font-size: 0.775rem;
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
}
.input-group-sm .input-group-text {
  font-size: 0.775rem;
  line-height: 1.5;
}
.input-group.form-outline .input-group-text {
  border-left: 0;
}
.input-group.form-outline input + .input-group-text {
  border: 0;
  border-left: 1px solid #bdbdbd;
}
.input-group .form-outline:not(:first-child),
.input-group .form-outline:not(:first-child) .form-notch-leading,
.input-group .select-wrapper:not(:first-child),
.input-group .select-wrapper:not(:first-child) .form-notch-leading {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group .form-outline:not(:last-child),
.input-group .form-outline:not(:last-child) .form-notch-trailing,
.input-group .select-wrapper:not(:last-child),
.input-group .select-wrapper:not(:last-child) .form-notch-trailing {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group > [class*="btn-outline-"] + [class*="btn-outline-"] {
  border-left: 0;
}
.input-group > .btn[class*="btn-outline-"] {
  padding-top: 0.47rem;
}
.input-group > .btn {
  padding-top: 0.59rem;
}
.input-group.input-group-lg .input-group-text {
  height: calc(2.645rem + 2px);
}
.input-group .input-group-text {
  height: calc(2.08rem + 2px);
}
.input-group .btn {
  line-height: 1;
}
.input-group.input-group-sm .input-group-text {
  height: calc(1.66rem + 2px);
}
.input-group .invalid-feedback,
.input-group .valid-feedback,
.was-validated .input-group .invalid-feedback,
.was-validated .input-group .valid-feedback {
  margin-top: 2.5rem;
}
.valid-feedback {
  width: auto;
  color: #14a44d;
  margin-top: -0.75rem;
}
.valid-feedback,
.valid-tooltip {
  position: absolute;
  display: none;
  font-size: 0.875rem;
}
.valid-tooltip {
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  background-color: rgba(20, 164, 77, 0.9);
  border-radius: 0.25rem !important;
  color: #fff;
}
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip,
.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip {
  display: block;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  margin-bottom: 1rem;
  background-image: none;
  border-color: #14a44d;
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #14a44d;
  box-shadow: 0 0 0 0.25rem rgba(20, 164, 77, 0.25);
}
.form-outline .form-control.is-valid ~ .form-label,
.was-validated .form-outline .form-control:valid ~ .form-label {
  color: #14a44d;
}
.form-outline .form-control.is-valid ~ .form-notch .form-notch-leading,
.form-outline .form-control.is-valid ~ .form-notch .form-notch-middle,
.form-outline .form-control.is-valid ~ .form-notch .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:valid
  ~ .form-notch
  .form-notch-leading,
.was-validated
  .form-outline
  .form-control:valid
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:valid
  ~ .form-notch
  .form-notch-trailing {
  border-color: #14a44d;
}
.form-outline .form-control.is-valid.active ~ .form-notch .form-notch-middle,
.form-outline .form-control.is-valid:focus ~ .form-notch .form-notch-middle,
.was-validated
  .form-outline
  .form-control:valid.active
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:valid:focus
  ~ .form-notch
  .form-notch-middle {
  border-top: 1px solid transparent;
}
.form-outline .form-control.is-valid:focus ~ .form-notch .form-notch-middle,
.was-validated
  .form-outline
  .form-control:valid:focus
  ~ .form-notch
  .form-notch-middle {
  box-shadow: 0 1px 0 0 #14a44d;
}
.form-outline .form-control.is-valid:focus ~ .form-notch .form-notch-leading,
.was-validated
  .form-outline
  .form-control:valid:focus
  ~ .form-notch
  .form-notch-leading {
  box-shadow: -1px 0 0 0 #14a44d, 0 1px 0 0 #14a44d, 0 -1px 0 0 #14a44d;
}
.form-outline .form-control.is-valid:focus ~ .form-notch .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:valid:focus
  ~ .form-notch
  .form-notch-trailing {
  box-shadow: 1px 0 0 0 #14a44d, 0 -1px 0 0 #14a44d, 0 1px 0 0 #14a44d;
}
.form-outline
  .form-control.is-valid.select-input.focused
  ~ .form-notch
  .form-notch-leading,
.was-validated
  .form-outline
  .form-control:valid.select-input.focused
  ~ .form-notch
  .form-notch-leading {
  box-shadow: -1px 0 0 0 #14a44d, 0 1px 0 0 #14a44d, 0 -1px 0 0 #14a44d;
}
.form-outline
  .form-control.is-valid.select-input.focused
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:valid.select-input.focused
  ~ .form-notch
  .form-notch-middle {
  box-shadow: 0 1px 0 0 #14a44d;
  border-top: 1px solid transparent;
}
.form-outline
  .form-control.is-valid.select-input.focused
  ~ .form-notch
  .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:valid.select-input.focused
  ~ .form-notch
  .form-notch-trailing {
  box-shadow: 1px 0 0 0 #14a44d, 0 -1px 0 0 #14a44d, 0 1px 0 0 #14a44d;
}
.form-select.is-valid,
.was-validated .form-select:valid {
  border-color: #14a44d;
}
.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
  border-color: #14a44d;
  box-shadow: 0 0 0 0.25rem rgba(20, 164, 77, 0.25);
}
.form-select.is-valid ~ .valid-feedback,
.was-validated .form-select:valid ~ .valid-feedback {
  margin-top: 0;
}
.input-group .form-control.is-valid,
.was-validated .input-group .form-control:valid {
  margin-bottom: 0;
}
.was-validated input[type="file"].form-control:valid .valid-feedback,
input[type="file"].form-control.is-valid .valid-feedback {
  margin-top: 0;
}
.was-validated input[type="file"].form-control:valid:focus,
input[type="file"].form-control.is-valid:focus {
  box-shadow: inset 0 0 0 1px #14a44d;
  border-color: #14a44d;
}
.was-validated input[type="file"].form-control:valid:focus ~ .form-file-label,
input[type="file"].form-control.is-valid:focus ~ .form-file-label {
  box-shadow: none;
}
.was-validated
  input[type="file"].form-control:valid:focus-within
  ~ .form-file-label
  .form-file-button,
.was-validated
  input[type="file"].form-control:valid:focus-within
  ~ .form-file-label
  .form-file-text,
input[type="file"].form-control.is-valid:focus-within
  ~ .form-file-label
  .form-file-button,
input[type="file"].form-control.is-valid:focus-within
  ~ .form-file-label
  .form-file-text {
  border-color: #14a44d;
}
.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: #14a44d;
}
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #14a44d;
}
.form-check-input.is-valid:checked:focus:before,
.was-validated .form-check-input:valid:checked:focus:before {
  box-shadow: 0 0 0 13px #14a44d;
}
.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: none;
}
.form-check-input.is-valid:focus:before,
.was-validated .form-check-input:valid:focus:before {
  box-shadow: 0 0 0 13px #14a44d;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #14a44d;
  margin-bottom: 1rem;
}
.form-check-input.is-valid[type="checkbox"]:checked:focus,
.was-validated .form-check-input:valid[type="checkbox"]:checked:focus {
  background-color: #14a44d;
  border-color: #14a44d;
}
.form-check-input.is-valid[type="radio"]:checked,
.was-validated .form-check-input:valid[type="radio"]:checked {
  border-color: #14a44d;
  background-color: #fff;
}
.form-check-input.is-valid[type="radio"]:checked:focus:before,
.was-validated .form-check-input:valid[type="radio"]:checked:focus:before {
  box-shadow: 0 0 0 13px #14a44d;
}
.form-check-input.is-valid[type="radio"]:checked:after,
.was-validated .form-check-input:valid[type="radio"]:checked:after {
  border-color: #14a44d;
  background-color: #14a44d;
}
.form-check-inline .form-check-input ~ .valid-feedback {
  margin-left: 0.5em;
}
.form-switch .form-check-input.is-valid:focus:before,
.was-validated .form-switch .form-check-input:valid:focus:before {
  box-shadow: 3px -1px 0 13px rgba(0, 0, 0, 0.6);
}
.form-switch .form-check-input.is-valid:checked[type="checkbox"]:after,
.was-validated
  .form-switch
  .form-check-input:valid:checked[type="checkbox"]:after {
  background-color: #14a44d;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.form-switch .form-check-input.is-valid:checked:focus:before,
.was-validated .form-switch .form-check-input:valid:checked:focus:before {
  box-shadow: 3px -1px 0 13px #14a44d;
}
.invalid-feedback {
  width: auto;
  color: #dc4c64;
  margin-top: -0.75rem;
}
.invalid-feedback,
.invalid-tooltip {
  position: absolute;
  display: none;
  font-size: 0.875rem;
}
.invalid-tooltip {
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  background-color: rgba(220, 76, 100, 0.9);
  border-radius: 0.25rem !important;
  color: #fff;
}
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  margin-bottom: 1rem;
  background-image: none;
  border-color: #dc4c64;
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc4c64;
  box-shadow: 0 0 0 0.25rem rgba(220, 76, 100, 0.25);
}
.form-outline .form-control.is-invalid ~ .form-label,
.was-validated .form-outline .form-control:invalid ~ .form-label {
  color: #dc4c64;
}
.form-outline .form-control.is-invalid ~ .form-notch .form-notch-leading,
.form-outline .form-control.is-invalid ~ .form-notch .form-notch-middle,
.form-outline .form-control.is-invalid ~ .form-notch .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:invalid
  ~ .form-notch
  .form-notch-leading,
.was-validated
  .form-outline
  .form-control:invalid
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:invalid
  ~ .form-notch
  .form-notch-trailing {
  border-color: #dc4c64;
}
.form-outline .form-control.is-invalid.active ~ .form-notch .form-notch-middle,
.form-outline .form-control.is-invalid:focus ~ .form-notch .form-notch-middle,
.was-validated
  .form-outline
  .form-control:invalid.active
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:invalid:focus
  ~ .form-notch
  .form-notch-middle {
  border-top: 1px solid transparent;
}
.form-outline .form-control.is-invalid:focus ~ .form-notch .form-notch-middle,
.was-validated
  .form-outline
  .form-control:invalid:focus
  ~ .form-notch
  .form-notch-middle {
  box-shadow: 0 1px 0 0 #dc4c64;
}
.form-outline .form-control.is-invalid:focus ~ .form-notch .form-notch-leading,
.was-validated
  .form-outline
  .form-control:invalid:focus
  ~ .form-notch
  .form-notch-leading {
  box-shadow: -1px 0 0 0 #dc4c64, 0 1px 0 0 #dc4c64, 0 -1px 0 0 #dc4c64;
}
.form-outline .form-control.is-invalid:focus ~ .form-notch .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:invalid:focus
  ~ .form-notch
  .form-notch-trailing {
  box-shadow: 1px 0 0 0 #dc4c64, 0 -1px 0 0 #dc4c64, 0 1px 0 0 #dc4c64;
}
.form-outline
  .form-control.is-invalid.select-input.focused
  ~ .form-notch
  .form-notch-leading,
.was-validated
  .form-outline
  .form-control:invalid.select-input.focused
  ~ .form-notch
  .form-notch-leading {
  box-shadow: -1px 0 0 0 #dc4c64, 0 1px 0 0 #dc4c64, 0 -1px 0 0 #dc4c64;
}
.form-outline
  .form-control.is-invalid.select-input.focused
  ~ .form-notch
  .form-notch-middle,
.was-validated
  .form-outline
  .form-control:invalid.select-input.focused
  ~ .form-notch
  .form-notch-middle {
  box-shadow: 0 1px 0 0 #dc4c64;
  border-top: 1px solid transparent;
}
.form-outline
  .form-control.is-invalid.select-input.focused
  ~ .form-notch
  .form-notch-trailing,
.was-validated
  .form-outline
  .form-control:invalid.select-input.focused
  ~ .form-notch
  .form-notch-trailing {
  box-shadow: 1px 0 0 0 #dc4c64, 0 -1px 0 0 #dc4c64, 0 1px 0 0 #dc4c64;
}
.form-select.is-invalid,
.was-validated .form-select:invalid {
  border-color: #dc4c64;
}
.form-select.is-invalid:focus,
.was-validated .form-select:invalid:focus {
  border-color: #dc4c64;
  box-shadow: 0 0 0 0.25rem rgba(220, 76, 100, 0.25);
}
.form-select.is-invalid ~ .invalid-feedback,
.was-validated .form-select:invalid ~ .invalid-feedback {
  margin-top: 0;
}
.input-group .form-control.is-invalid,
.was-validated .input-group .form-control:invalid {
  margin-bottom: 0;
}
.was-validated input[type="file"].form-control:invalid .invalid-feedback,
input[type="file"].form-control.is-invalid .invalid-feedback {
  margin-top: 0;
}
.was-validated input[type="file"].form-control:invalid:focus,
input[type="file"].form-control.is-invalid:focus {
  box-shadow: inset 0 0 0 1px #dc4c64;
  border-color: #dc4c64;
}
.was-validated input[type="file"].form-control:invalid:focus ~ .form-file-label,
input[type="file"].form-control.is-invalid:focus ~ .form-file-label {
  box-shadow: none;
}
.was-validated
  input[type="file"].form-control:invalid:focus-within
  ~ .form-file-label
  .form-file-button,
.was-validated
  input[type="file"].form-control:invalid:focus-within
  ~ .form-file-label
  .form-file-text,
input[type="file"].form-control.is-invalid:focus-within
  ~ .form-file-label
  .form-file-button,
input[type="file"].form-control.is-invalid:focus-within
  ~ .form-file-label
  .form-file-text {
  border-color: #dc4c64;
}
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
  border-color: #dc4c64;
}
.form-check-input.is-invalid:checked,
.was-validated .form-check-input:invalid:checked {
  background-color: #dc4c64;
}
.form-check-input.is-invalid:checked:focus:before,
.was-validated .form-check-input:invalid:checked:focus:before {
  box-shadow: 0 0 0 13px #dc4c64;
}
.form-check-input.is-invalid:focus,
.was-validated .form-check-input:invalid:focus {
  box-shadow: none;
}
.form-check-input.is-invalid:focus:before,
.was-validated .form-check-input:invalid:focus:before {
  box-shadow: 0 0 0 13px #dc4c64;
}
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #dc4c64;
  margin-bottom: 1rem;
}
.form-check-input.is-invalid[type="checkbox"]:checked:focus,
.was-validated .form-check-input:invalid[type="checkbox"]:checked:focus {
  background-color: #dc4c64;
  border-color: #dc4c64;
}
.form-check-input.is-invalid[type="radio"]:checked,
.was-validated .form-check-input:invalid[type="radio"]:checked {
  border-color: #dc4c64;
  background-color: #fff;
}
.form-check-input.is-invalid[type="radio"]:checked:focus:before,
.was-validated .form-check-input:invalid[type="radio"]:checked:focus:before {
  box-shadow: 0 0 0 13px #dc4c64;
}
.form-check-input.is-invalid[type="radio"]:checked:after,
.was-validated .form-check-input:invalid[type="radio"]:checked:after {
  border-color: #dc4c64;
  background-color: #dc4c64;
}
.form-check-inline .form-check-input ~ .invalid-feedback {
  margin-left: 0.5em;
}
.form-switch .form-check-input.is-invalid:focus:before,
.was-validated .form-switch .form-check-input:invalid:focus:before {
  box-shadow: 3px -1px 0 13px rgba(0, 0, 0, 0.6);
}
.form-switch .form-check-input.is-invalid:checked[type="checkbox"]:after,
.was-validated
  .form-switch
  .form-check-input:invalid:checked[type="checkbox"]:after {
  background-color: #dc4c64;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.form-switch .form-check-input.is-invalid:checked:focus:before,
.was-validated .form-switch .form-check-input:invalid:checked:focus:before {
  box-shadow: 3px -1px 0 13px #dc4c64;
}
.form-range:focus {
  box-shadow: none;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: none;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: none;
}
.form-range:focus::-ms-thumb {
  box-shadow: none;
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  margin-top: -6px;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.form-range::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 0;
}
.form-range::-moz-range-thumb {
  box-shadow: none;
  -moz-appearance: none;
  appearance: none;
}